/target/
**/*.rs.bk
*~
Cargo.lock
resources/imgui.ini
resources/Controls.ini
resources/ptah
resources/ptah.exe
resources/Trephination
resources/Trephination.exe
resources/*.dll
win64
.vscode/
.DS_STORE
*~
*.bin
.cproject
.project
.settings/*
old/*
src/obj/*
Scenes/*
Models/*
.vs/
x64/
~*
testrun/
settings.ini


Trephination.iml
.idea
*(copy).rs
